<div class="container">
<% if(status == 'notEmpty') { %>
  
  <div class="row">
    <div class="alert alert-success">
       <%= message %>
    </div>
  </div>

<% } %>
<div class="row">
<h5 class="display-4">Products</h5>
</div>
<!-- Page Features -->
      <div class="row text-center">
      <div class="products-list">
        <ul class="list-inline">
          <% products.forEach(function(product) { %>
          <li>
            <div class="card">
              <img class="card-img-top" src="<%= product.image %>" alt="">
              <p><%= product.name %></p>
              <div class="card-footer">
                <a href="/add-to-cart/<%= product.id %>" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>   
      </div>       
      <!-- /.row -->
</div>
